openapi: 3.1.0
info:
  title: http402-forge-api
  version: 0.1.0
  description: |
    Forge marketplace (Digital Bazaar channel) — list, preview, pay-to-download via x402 v2.
    JSON responses use **camelCase** field names.

    **Agents:** start at `GET https://http402.trade/.well-known/x402-portal.json` for the
    http402.trade channel router. Forge API discovery: `GET /.well-known/x402-resources.json`.
    npm tooling: `@http402/forge-cli`, `@http402/forge-client`, `@http402/forge-mcp`;
    payment rail: `@pr402/buyer-typescript`.
    Human-written guide: [AGENT_API.md](https://github.com/miralandlabs/http402-forge-api/blob/main/docs/AGENT_API.md).
servers:
  - url: https://forge.http402.trade
    description: Production (mainnet)
  - url: https://preview.forge.http402.trade
    description: Preview (devnet)
  - url: http://127.0.0.1:8092
    description: Local dev
components:
  schemas:
    ListingPublic:
      type: object
      properties:
        id: { type: string, format: uuid }
        sellerWallet: { type: string }
        displayName: { type: string, nullable: true }
        title: { type: string }
        description: { type: string }
        category:
          type: string
          enum: [art, text, audio, video, prompt_pack]
        priceMicroUsdc: { type: integer }
        contentType: { type: string }
        byteSize: { type: integer }
        agentFriendly: { type: boolean }
        deliveryScheme: { type: string, enum: [exact, escrow] }
        previewUrl: { type: string, format: uri }
        previewContentType: { type: string }
        tags:
          type: array
          items: { type: string }
        license:
          type: string
          enum: [personal, commercial]
          nullable: true
        contentHash:
          type: string
          description: Lowercase SHA-256 hex of asset bytes (server-computed on create)
        qualityScore:
          type: integer
          minimum: 0
          maximum: 100
          description: Rolled up from purchase-linked sale feedback (omitted when no feedback)
        verifiedFeedbackCount:
          type: integer
          description: Count of sale_feedback rows for this listing (omitted when zero)
        createdAt: { type: string, format: date-time }
    ListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/ListingPublic" }
        total: { type: integer }
    SellerChallenge:
      type: object
      properties:
        message: { type: string }
        expiresAt: { type: string, format: date-time }
    DelistRequest:
      type: object
      required: [seller_wallet, seller_challenge, seller_signature]
      properties:
        seller_wallet:
          type: string
          description: Listing owner pubkey (base58); must match signed challenge
        seller_challenge:
          type: string
          description: Exact message from GET /api/v1/seller/delist-challenge
        seller_signature:
          type: string
          description: Base64 ed25519 signature over seller_challenge
    SaleFeedbackRequest:
      type: object
      required: [buyer_wallet, buyer_challenge, buyer_signature, outcome]
      properties:
        buyer_wallet:
          type: string
          description: Buyer pubkey on the sale; must match signed challenge
        buyer_challenge:
          type: string
          description: Exact message from GET /api/v1/buyer/feedback-challenge
        buyer_signature:
          type: string
          description: Base64 ed25519 signature over buyer_challenge
        outcome:
          type: string
          enum: [as_described, hash_mismatch, corrupt, misleading, other]
        score:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: Optional human stars (agents typically omit)
        note:
          type: string
          maxLength: 500
          nullable: true
    SaleFeedbackResponse:
      type: object
      properties:
        saleId: { type: string, format: uuid }
        listingId: { type: string, format: uuid }
        outcome: { type: string }
        score: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
    SellerStatus:
      type: object
      properties:
        vaultActivated: { type: boolean }
        canSell: { type: boolean }
        vaultPda: { type: string, nullable: true }
        feeBps: { type: integer, nullable: true }
        protocolFeePercent: { type: string, nullable: true }
        sellerDashboardUrl: { type: string, format: uri }
        vaultCheckEnforced: { type: boolean }
    ProvisionRequest:
      type: object
      required: [sellerWallet]
      properties:
        sellerWallet: { type: string }
        asset: { type: string, default: USDC }
    FieldError:
      type: object
      properties:
        field: { type: string }
        message: { type: string }
    ValidationError:
      type: object
      properties:
        error: { type: string, example: Validation error }
        details:
          type: array
          items: { $ref: "#/components/schemas/FieldError" }
    PaymentRequired:
      type: object
      description: x402 v2 payment required body (402 response)
      properties:
        x402Version: { type: integer }
        resource: { type: object }
        accepts:
          type: array
          items: { type: object }
        extensions: { type: object }
    ErrorBody:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
paths:
  /health:
    get:
      summary: Extended health (database, storage, facilitator)
      responses:
        "200":
          description: All subchecks OK
        "503":
          description: Degraded (one or more subchecks failed)
  /.well-known/x402-resources.json:
    get:
      summary: Forge x402 resource template and agent discovery hints
      description: |
        Payable download URL pattern (`{id}` placeholder). Full SKU list via GET /api/v1/listings.
        Includes hubUrl and portalManifestUrl for http402.trade ecosystem routing.
      responses:
        "200":
          description: x402 resources manifest
  /openapi.yaml:
    get:
      summary: OpenAPI 3.1 spec (this document)
      responses:
        "200":
          description: YAML OpenAPI document
          content:
            application/yaml:
              schema: { type: string }
  /api/v1/capabilities:
    get:
      summary: Server capabilities (presigned upload/download, delivery mode, escrow limits)
      responses:
        "200":
          description: Capabilities JSON (camelCase; includes escrowSizeThresholdBytes, escrowLaneEnabled)
  /api/v1/listings/upload-session:
    post:
      summary: Start presigned R2 upload session (seller-signed)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sellerWallet, sellerChallenge, sellerSignature, assetContentType, assetByteSize]
      responses:
        "200":
          description: Presigned PUT targets + listingId
  /api/v1/listings/complete-upload:
    post:
      summary: Finalize presigned upload and publish listing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listingId, sellerWallet, sellerChallenge, sellerSignature, title, category, priceUsdc]
      responses:
        "201":
          description: Published listing
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListingPublic" }
  /api/v1/seller/challenge:
    get:
      summary: Issue a one-time challenge for listing creation
      parameters:
        - in: query
          name: seller_wallet
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Challenge message to sign with seller wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SellerChallenge" }
        "422":
          description: Invalid wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/seller/delist-challenge:
    get:
      summary: Issue a one-time challenge to soft-delist a listing
      description: |
        Challenge message binds seller wallet and listing id. Only the listing owner
        may obtain a challenge. Listing must be active.
      parameters:
        - in: query
          name: seller_wallet
          required: true
          schema: { type: string }
        - in: query
          name: listing_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Challenge message to sign with seller wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SellerChallenge" }
        "403":
          description: Not listing owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "404":
          description: Listing not found or not active
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "422":
          description: Invalid wallet or listing_id
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/seller/status:
    get:
      summary: Seller SplitVault activation status
      parameters:
        - in: query
          name: seller_wallet
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Vault status for Sell page gate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SellerStatus" }
        "422":
          description: Invalid wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/seller/provision-tx:
    post:
      summary: Build SplitVault provision transaction
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProvisionRequest" }
      responses:
        "200":
          description: Base64 transaction or already provisioned
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "422":
          description: Invalid wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/listings:
    get:
      summary: List active listings
      parameters:
        - in: query
          name: q
          description: Search title or description (case-insensitive, max 80 chars)
          schema: { type: string, maxLength: 80 }
        - in: query
          name: seller_wallet
          description: Filter by seller wallet (exact base58 pubkey match)
          schema: { type: string }
        - in: query
          name: category
          schema:
            type: string
            enum: [art, text, audio, video, prompt_pack]
        - in: query
          name: agent_friendly
          schema: { type: boolean }
        - in: query
          name: sort
          schema:
            type: string
            enum: [trending, newest, price_asc, price_desc, quality]
            default: trending
          description: |
            `quality` orders by average purchase feedback score (listings need ≥2 verified signals).
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        "200":
          description: Listing page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListResponse" }
    post:
      summary: Create listing (multipart)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - seller_wallet
                - seller_challenge
                - seller_signature
                - title
                - category
                - price_usdc
                - asset
              properties:
                seller_wallet: { type: string }
                seller_challenge:
                  type: string
                  description: Exact message from GET /api/v1/seller/challenge
                seller_signature:
                  type: string
                  description: Base64 ed25519 signature over seller_challenge
                title: { type: string, maxLength: 120 }
                description: { type: string, maxLength: 2000 }
                category:
                  type: string
                  enum: [art, text, audio, video, prompt_pack]
                price_usdc: { type: string, example: "0.05" }
                agent_friendly: { type: boolean, default: false }
                tags:
                  type: string
                  description: Comma-separated or JSON array
                license:
                  type: string
                  enum: [personal, commercial]
                content_hash:
                  type: string
                  description: Optional; if sent must equal server SHA-256 of asset
                asset: { type: string, format: binary }
                preview: { type: string, format: binary }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListingPublic" }
        "400":
          description: Content moderation blocked upload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "403":
          description: Invalid signature, blocked content hash, or seller SplitVault not activated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "422":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/listings/{id}:
    get:
      summary: Get one active listing
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListingPublic" }
        "404":
          description: Not found or listing removed from catalog
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
    delete:
      summary: Soft-delist listing (seller-signed)
      description: |
        Sets listing status to `removed`. Hidden from catalog and preview.
        Does not delete storage objects. Requires seller wallet signature
        matching the listing owner. Prior buyers may still re-download via
        PAYMENT-SIGNATURE idempotency on GET …/download.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DelistRequest" }
      responses:
        "204":
          description: Listing removed from catalog
        "403":
          description: Invalid signature, challenge mismatch, or not listing owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "404":
          description: Listing not found, not owner, or already removed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "422":
          description: Invalid wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/listings/{id}/preview:
    get:
      summary: Free preview (active listings only)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Preview bytes (Content-Type varies)
        "404":
          description: Not found or listing removed from catalog
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
  /api/v1/listings/{id}/download:
    get:
      summary: Pay-to-download (402 then streamed asset)
      description: |
        Active listings return 402 without PAYMENT-SIGNATURE, then 200 after payment.
        Successful paid download includes response header **X-Forge-Sale-Id** (sale UUID)
        for purchase-linked feedback. Removed listings return 404 for new purchases.
        Buyers with a prior payment proof may retry with the same PAYMENT-SIGNATURE header (idempotency).
        After a failed transfer, buyers may also use GET …/redownload with a wallet-signed challenge
        (see /api/v1/buyer/redownload-challenge).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: PAYMENT-SIGNATURE
          schema: { type: string }
          description: Base64 JSON proof from facilitator build+sign flow
      responses:
        "402":
          description: Payment required (active listing only)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentRequired" }
        "200":
          description: Asset file stream
          headers:
            X-Forge-Sale-Id:
              schema: { type: string, format: uuid }
              description: Sale row id for POST /api/v1/sales/{id}/feedback
            PAYMENT-RESPONSE:
              schema: { type: string }
              description: Base64 settle proof (first paid download)
        "404":
          description: Listing removed and no prior payment idempotency match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "403":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
  /api/v1/listings/{id}/redownload:
    get:
      summary: Re-download after prior purchase (wallet-signed)
      description: |
        Streams the paid asset when the buyer wallet has a recorded sale for this listing.
        Obtain a one-time challenge from GET /api/v1/buyer/redownload-challenge, sign it with
        the buyer wallet, then call this route with base64-encoded UTF-8 headers:
        **X-Forge-Buyer-Wallet**, **X-Forge-Buyer-Challenge** (message), **X-Forge-Buyer-Signature**.
        No additional payment is taken.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: X-Forge-Buyer-Wallet
          required: true
          schema: { type: string }
        - in: header
          name: X-Forge-Buyer-Challenge
          required: true
          schema: { type: string }
          description: Base64-encoded UTF-8 challenge message
        - in: header
          name: X-Forge-Buyer-Signature
          required: true
          schema: { type: string }
          description: Base64 ed25519 signature of the challenge message
      responses:
        "200":
          description: Asset file stream
          headers:
            X-Forge-Sale-Id:
              schema: { type: string, format: uuid }
        "403":
          description: Invalid or expired challenge
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "404":
          description: No purchase found for this wallet on this listing
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
  /api/v1/buyer/purchases:
    get:
      summary: List purchases for a buyer wallet (buyer-signed)
      parameters:
        - in: query
          name: buyer_wallet
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: header
          name: X-Forge-Buyer-Wallet
          required: true
          schema: { type: string }
          description: Base64-encoded buyer wallet string
        - in: header
          name: X-Forge-Buyer-Challenge
          required: true
          schema: { type: string }
          description: Base64-encoded message from /api/v1/buyer/purchases-challenge
        - in: header
          name: X-Forge-Buyer-Signature
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Paginated purchase history (camelCase items + total)
  /api/v1/buyer/purchases-challenge:
    get:
      summary: Issue a one-time challenge to list buyer purchase history
      parameters:
        - in: query
          name: buyer_wallet
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Challenge message to sign with buyer wallet
  /api/v1/buyer/redownload-challenge:
    get:
      summary: Issue a one-time challenge to re-download a prior purchase
      parameters:
        - in: query
          name: buyer_wallet
          required: true
          schema: { type: string }
        - in: query
          name: listing_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Challenge message to sign with buyer wallet
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/SellerChallenge" }
                  - type: object
                    properties:
                      saleId:
                        type: string
                        format: uuid
        "404":
          description: No purchase found for this wallet on this listing
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
  /api/v1/buyer/feedback-challenge:
    get:
      summary: Issue a one-time challenge for sale feedback
      parameters:
        - in: query
          name: buyer_wallet
          required: true
          schema: { type: string }
        - in: query
          name: sale_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Challenge message to sign with buyer wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SellerChallenge" }
        "403":
          description: Not buyer on this sale
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "404":
          description: Sale not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
  /api/v1/sales/{id}/feedback:
    post:
      summary: Submit purchase-linked feedback (one per sale)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
          description: Sale id from X-Forge-Sale-Id download header
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SaleFeedbackRequest" }
      responses:
        "200":
          description: Feedback recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SaleFeedbackResponse" }
        "403":
          description: Invalid signature or not buyer on sale
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "409":
          description: Feedback already submitted for this sale
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorBody" }
        "422":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
  /api/v1/leaderboards:
    get:
      summary: 24h leaderboard aggregates
      responses:
        "200":
          description: Leaderboard JSON (camelCase topEarners24h, topPayers24h, hottestListings24h)
  /api/v1/events:
    get:
      summary: SSE sales feed
      responses:
        "200":
          description: text/event-stream
